In [13]:
import pandas as pd

In [14]:
file_path = "../data/basic_cleaned_raw_data.csv"

In [15]:
df = pd.read_csv(file_path)
df.head()

,serial,ad_name,ad_set_name,amount_spent,max_roas,scroll_stop_30,hook_hold_rate_40,hold_rate_20,frequency,reach,results,result_rate,cpr,cpc,ctr,3_sec_video,25_play,50_play,75_play,100_play
0,1,ad_id_662,ad_set_034,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0.0,0.0,0.00,0.00,0,0,0,0,0
1,2,ad_id_1598,ad_set_114,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0.0,0.0,0.00,0.00,0,0,0,0,0
2,3,ad_id_1412,ad_set_010,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0.0,0.0,0.00,0.00,0,0,0,0,0
3,4,ad_id_369,ad_set_007,40.48,0.0,45.17,43.34,19.58,1.26,675,0,0.0,0.0,1.56,3.07,383,208,134,101,59
4,5,ad_id_239,ad_set_010,41.96,0.0,50.00,41.39,20.69,1.31,728,0,0.0,0.0,1.23,3.57,476,251,157,125,75

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800 entries, 0 to 1799
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   serial             1800 non-null   int64
 1   ad_name            1800 non-null   object
 2   ad_set_name        1800 non-null   object
 3   amount_spent       1800 non-null   float64
 4   max_roas           1800 non-null   float64
 5   scroll_stop_30     1800 non-null   float64
 6   hook_hold_rate_40  1800 non-null   float64
 7   hold_rate_20       1800 non-null   float64
 8   frequency          1800 non-null   float64
 9   reach              1800 non-null   int64
 10  results            1800 non-null   int64
 11  result_rate        1800 non-null   float64
 12  cpr                1800 non-null   float64
 13  cpc                1800 non-null   float64
 14  ctr                1800 non-null   float64
 15  3_sec_video        1800 non-null   int64
 16  25_play            1800 non-null   int64
 17  50_play            1800 non-null   int64
 18  75_play            1800 non-null   int64
 19  100_play           1800 non-null   int64
dtypes: float64(10), int64(8), object(2)
memory usage: 281.4+ KB

In [17]:
df.describe()

,serial,amount_spent,max_roas,scroll_stop_30,hook_hold_rate_40,hold_rate_20,frequency,reach,results,result_rate,cpr,cpc,ctr,3_sec_video,25_play,50_play,75_play,100_play
count,1800.00000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000,1800.000000
mean,900.50000,111.656894,0.450228,34.586017,25.960800,10.712933,1.074328,3067.007222,166.780000,36.254911,5.227633,0.906506,2.349506,1783.279444,959.302222,614.128889,440.925556,268.488889
std,519.75956,941.701315,1.573660,18.474945,17.813552,9.390425,0.169152,17345.366288,4455.079677,441.630450,13.012698,0.990188,3.442530,12979.479821,7306.461922,4867.647816,3442.192814,2172.589395
min,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,450.75000,1.097500,0.000000,26.770000,14.875000,4.170000,1.010000,40.000000,0.000000,0.000000,0.000000,0.120000,0.455000,8.000000,4.000000,2.000000,1.000000,1.000000
50%,900.50000,4.070000,0.000000,37.245000,26.550000,10.105000,1.040000,180.500000,0.000000,0.000000,0.000000,0.800000,1.990000,46.500000,23.000000,13.000000,9.000000,6.000000
75%,1350.25000,18.127500,0.000000,45.967500,36.530000,15.380000,1.090000,902.250000,0.000000,0.000000,0.000000,1.190000,3.190000,357.000000,165.500000,94.250000,65.000000,40.250000
max,1800.00000,24680.510000,41.010000,100.000000,100.000000,100.000000,3.090000,430061.000000,184006.000000,8000.000000,133.550000,9.930000,100.000000,333920.000000,180048.000000,120477.000000,93521.000000,64046.000000

In [18]:
#Check Specific Column
column = 'max_roas'
non_null_count = df[column].notna().sum()
null_count = df[column].isna().sum()

print(f"Column: {column}")
print(f"Non-null rows: {non_null_count}")
print(f"Null (missing) rows: {null_count}")

Column: max_roas
Non-null rows: 1800
Null (missing) rows: 0